@using AdminSiteNew.Database
@using AdminSiteNew.PokemonHelper
@model AdminSiteNew.Models.GTSObject

<style>
    th, td {
        padding: 3px !important;
    }
</style>

<table class="table border" style="max-width: 200px; display: inline-table;     margin: 10px 10px;">
    <tr>
        <td colspan="4">
            <img src=@Utilities.GetPokemonImageName((int)Model.Offer.species, Model.Offer.isShiny)
                 title=@Utilities.GetPokemonImageTitle((int)Model.Offer.species, Model.Offer.isShiny) />
        </td>
    </tr>
    <tr>
        <th colspan="2">
            Offer
        </th>
        <th colspan="2">
            Result
        </th>
    </tr>
    <tr>
        <th>
            Owner
        </th>
        <td>
            @Html.ActionLink(Model.OwnerName, "Users", "Users", new { id = Model.OwnerName }, null)
        </td>
        <th>
            Owner
        </th>
        <td>
            @Model.TraderName
        </td>
    </tr>
    <tr>
        <th>
            Level
        </th>
        <td>
            @Model.Offer.level
        </td>
        <th>
            Species
        </th>
        <td>
            @PokemonHelper.GetPokemonName(Model.Result.species)
        </td>
    </tr>
    <tr>
        <th>
            Pkmn Id
        </th>
        <td>
            @Model.Offer.personalID
        </td>
        <th>
            Pkmn Id
        </th>
        <td>
            @Model.Result.personalID
        </td>
    </tr>
    <tr>
        <th>
            OT
        </th>
        <td>
            @Model.Offer.ot
        </td>
        <th>
            Shiny
        </th>
        <td>
            @Model.Result.isShiny
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <button class="button warning">Remove</button>
        </td>
        <td colspan="2">
            <button class="button success" onclick="location.href='@Url.Action("Detail", "GTS", new { id = Model.Id })'">Details</button>
        </td>
    </tr>
</table>