@using AdminSite.Models
@using AdminSite.Pokemon
@model AdminSite.Models.UserModel


@if (Model.UserRequest != null)
{
    <link rel="stylesheet" href="/CSS/UserInfo.css" />
    <style>
        th, td {
            padding: 8px !important;
        }
    </style>
    <div>
        <table id="UserInfoTable" class="dataTable border bordered">
            <tr>
                <th colspan="2">
                    Name
                </th>
                <td colspan="2">
                    @Html.DisplayFor(model => model.UserRequest.UserInfo.Username)
                </td>
            </tr>
            <tr>
                <th colspan="2">
                    ID
                </th>
                <td colspan="2">
                    @Html.DisplayFor(model => model.UserRequest.UserInfo.User_Id)
                </td>
            </tr>
            <tr>
                <th colspan="2">
                    Banned
                </th>
                @if (Model.UserRequest.UserInfo.Banned)
                {
                    <td class="Banned" colspan="2">true</td>
                }
                else
                {
                    <td class="Free" colspan="2">false</td>
                }
            </tr>
            <tr>
                <th colspan="2">
                    Last Logged In
                </th>
                <td>
                    @Html.DisplayFor(model => model.UserRequest.UserInfo.LastLoggedIn)
                </td>
            </tr>


            <tr>
                <th>Friend Safari</th>
                <td>
                    @Html.DisplayFor(model => model.UserRequest.FriendSafari.Type)
                </td>
                <td colspan="2">
                    @Html.DisplayFor(model => model.UserRequest.FriendSafari.GetCleanPokemon)
                </td>
            </tr>
            <table class="dataTable border bordered">
                <tr>
                    <th colspan="3">Notes</th>
                </tr>
                <tr>
                    <th>Moderator</th>
                    <th>Note</th>
                    <th>Time</th>
                </tr>
                @foreach (var note in Model.UserRequest.Notes)
                {
                    <tr>
                        <td>@note.Moderator</td>
                        <td>@note.Note</td>
                        <td>@note.Time.ToString("g")</td>
                    </tr>
                }
                <tr>
                    <td colspan="3">
                        <form asp-controller="Users" asp-action="AddNote">
                            <fieldset style="display:inline">
                                <div>
                                    <textarea asp-for="Note.Note" class="form_input_field" rows="3" cols="100"></textarea>
                                </div>
                            </fieldset>
                            <input asp-for="Note.UserId" value="@Model.UserRequest.UserInfo.User_Id" hidden="" class=""/>
                            <button type="submit" class="button primary display:inline">Submit</button>
                        </form>

                    </td>
                </tr>

            </table>
        </table>
        <table id="UserTradeLog" class="dataTable border bordered" style="display: none">
            <tr>
                <th colspan="4">
                    Tradelog
                </th>
            </tr>
            @foreach (var trade in Model.UserRequest.Trades)
            {
                <tr>
                    <th>
                        @Html.ActionLink(trade.Id.ToString(), "Tradelog", "Trades", new { id = trade.Id }, null)
                    </th>
                    <th>@trade.User1</th>
                    <td>
                        <table style="width: 100%; height: 50px;">
                            <tr>
                                <td style="width: 32%; max-width: 32%;">@PokemonHelper.GetPokemonName(trade.Pokemon1.species)</td>
                                <td>@trade.Pokemon1.personalID</td>
                                @if (trade.Pokemon1.isShiny)
                                {
                                    <td class="shiny" style="max-width: 10%; width: 10%">Shiny</td>
                                }
                                else
                                {
                                    <td class="nonshiny" style="max-width: 10%; width: 10%">Bland</td>
                                }
                                <td style="width: 20%; max-width: 20%">OT: @trade.Pokemon1.ot</td>
                                <td style="width: 38%; max-width: 38%">Item: @ItemHelper.GetItemName((short) @trade.Pokemon1.item)</td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table style="width: 100%; height: 50px;">
                            <tr>
                                <td style="width: 32%; max-width: 32%;">@PokemonHelper.GetPokemonName(trade.Pokemon2.species)</td>
                                <td>@trade.Pokemon2.personalID</td>
                                @if (trade.Pokemon2.isShiny)
                                {
                                    <td class="shiny" style="max-width: 10%; width: 10%">Shiny</td>
                                }
                                else
                                {
                                    <td class="nonshiny" style="max-width: 10%; width: 10%">Bland</td>
                                }
                                <td style="width: 20%; max-width: 20%">OT: @trade.Pokemon2.ot</td>
                                <td style="width: 38%; max-width: 38%">Item: @ItemHelper.GetItemName((short) @trade.Pokemon2.item)</td>
                            </tr>
                        </table>
                    </td>
                    <th>
                        @Html.ActionLink(trade.User2, "Users", "Users", new {id = trade.User2}, null)
                    </th>
                </tr>
            }
        </table>
        <table id="UserIPs" class="dataTable border bordered" style="display: none">
            <tr>
                <th colspan="4">
                    Used IPs
                </th>
            </tr>
            <tr>
                <th colspan="2">IP</th>
                <th>Banned</th>
                <th></th>
            </tr>
            @foreach (var ip in Model.UserRequest.IPs)
            {
                <tr>
                    <td colspan="2">
                        @ip.IP
                    </td>
                    @if (ip.Banned)
                    {
                        <td class="Banned">true</td>
                        <td>
                            <input type="button" title="BanAccount" value="Unban" onclick="location.href = '@Url.Action("UnbanSingleIp", "Users", new {id = @ip.IP, name = Model.UserRequest.UserInfo.Username})'" />
                        </td>
                    }
                    else
                    {
                        <td class="Free">false</td>
                        <td>
                            <input type="button" title="BanAccount" value="Ban" onclick="location.href = '@Url.Action("BanSingleIp", "Users", new {id = @ip.IP, name = Model.UserRequest.UserInfo.Username})'" />
                        </td>
                    }
                </tr>
            }
        </table>

        <table id="UserAlts" class="dataTable border bordered" style="display: none">
            <tr><th colspan="4">Other Accounts on IP</th></tr>
            <tr><th>ID</th><th>Username</th><th>Banned</th></tr>
            @foreach (var alt in Model.UserRequest.Alts)
            {
                <tr>
                    <td>
                        @alt.User_Id
                    </td>
                    <td>
                        @Html.ActionLink(alt.Username, "Users", "Users", new { id = alt.Username }, null)
                    </td>
                    @if (alt.Banned)
                    {
                        <td class="Banned">true</td>
                        <td>
                            <input type="button" title="BanAccount" value="Unban" onclick="location.href = '@Url.Action("UnbanAccount", "Users", new {id = alt.Username, redir = Model.UserRequest.UserInfo.Username})'" />
                        </td>
                    }
                    else
                    {
                        <td class="Free">false</td>
                        <td>
                            <input type="button" title="BanAccount" value="Ban" onclick="location.href = '@Url.Action("BanAccount", "Users", new {id = alt.Username, redir = Model.UserRequest.UserInfo.Username})'" />
                        </td>

                    }
                </tr>
            }
        </table>

    <table id="WonderTrades" class="dataTable border bordered" style="display: none">
        <tr>
            <th colspan="4">
                Wonder Tradelog
            </th>
        </tr>
        @foreach (var trade in Model.UserRequest.WonderTrades)
        {
            <tr>
                <th>
                    @Html.ActionLink(trade.Id.ToString(), "WonderTradeDetail", "Trades", new { id = trade.Id }, null)
                </th>
                <th>@trade.User</th>
                <td>
                    <table style="width: 100%; height: 50px;">
                        <tr>
                            <td style="width: 32%; max-width: 32%;">@PokemonHelper.GetPokemonName(trade.Pokemon.species)</td>
                            <td>@trade.Pokemon.personalID</td>
                            @if (trade.Pokemon.isShiny)
                            {
                                <td class="shiny" style="max-width: 10%; width: 10%">Shiny</td>
                            }
                            else
                            {
                                <td class="nonshiny" style="max-width: 10%; width: 10%">Bland</td>
                            }
                            <td style="width: 20%; max-width: 20%">OT: @trade.Pokemon.ot</td>
                            <td style="width: 38%; max-width: 38%">Item: @ItemHelper.GetItemName((short) @trade.Pokemon.item)</td>
                        </tr>
                    </table>
                </td>
            </tr>
        }
    </table>

    <table id="Warnings" class="dataTable border bordered" style="display: none">
        <tr>
            <th colspan="3">
                Warnings
            </th>
        </tr>
        @foreach (var warn in Model.UserRequest.Warnings)
        {
            <tr>
                <td>@warn.Id</td>
                <td>@warn.Reason</td>
                <td>@warn.Time.ToString("g")</td>
            </tr>
        }
    </table>

    <table id="GTS" class="dataTable border bordered" style="display: none">
        <tr>
            <th colspan="5">
                GTS
            </th>
        </tr>
        <tr>
            <th>ID</th>
            <th>Pokemon</th>
            <th>Shiny</th>
            <th>Accepted</th>
            <th>Remove</th>
        </tr>
        @foreach (var gts in Model.UserRequest.GTS)
        {
            <tr>
                <td>
                    @Html.ActionLink(gts.Id.ToString(), "Detail", "GTS", new { id = gts.Id }, null)
                </td>
                <td>@PokemonHelper.GetPokemonName(gts.Offer.species)</td>
                <td>@gts.Offer.isShiny</td>
                <td>@gts.Accepted</td>
                <td>
                    <button class="button warning" onclick="location.href = '@Url.Action("Remove", "GTS", new {id = gts.Id})'">
                        Remove
                    </button>
                </td>
            </tr>
        }
    </table>


    @if (Model.UserRequest.UserInfo.Banned)
        {
            <button title="BanAccount" class="button success" style="width: 232px;"
                     onclick="location.href = '@Url.Action("UnbanAccount", "Users", new {id = Model.UserRequest.UserInfo.Username})'">Unban Account</button>

        }

        else
        {
            <button title="BanAccount" class="button warning" style="width: 232px;"
                    onclick="location.href = '@Url.Action("BanAccount", "Users", new {id = Model.UserRequest.UserInfo.Username})'"><span class="mif-hammer icon"></span>   Ban Account</button>
        }
        <br/>
        <button class="button danger" title="BanAccount" style="width: 103px;"
                onclick="location.href = '@Url.Action("BanIPs", "Users", new { id = Model.UserRequest.UserInfo.User_Id })'">Ban IPs</button>
        <input type="button" class="button success" title="BanAccount" value="Unban IPs " style="width: 123px;"
               onclick="location.href = '@Url.Action("UnbanIPs", "Users", new {id = Model.UserRequest.UserInfo.User_Id})'" />
        <br />
        <input type="button" class="button danger" title="BanAccount" value="Ban Alts" onclick="location.href = '@Url.Action("BanAlts", "Users", new {id = Model.UserRequest.UserInfo.User_Id})'" />
    <input type="button" class="button success" title="BanAccount" value="Unban Alts" onclick="location.href = '@Url.Action("UnbanAlts", "Users", new {id = Model.UserRequest.UserInfo.User_Id})'" />
    <br/>
    <button style="width: 232px;" class="button warning" onclick="location.href = '@Url.Action("RemoveUserTrades", "GTS", new {id = Model.UserRequest.UserInfo.User_Id})'">
        Remove All User GTS
    </button>

        @if (User.HasClaim("Developer", "Allowed"))
        {
            <br/>
            <button title="BanAccount" class="button success" style="width: 232px;"
                    onclick="location.href = '@Url.Action("Index", "DirectGift", new {id= Model.UserRequest.UserInfo.Username})'">
                Give Gift
            </button>
        }

    </div>
}