@using InsurgenceServerWebsite.Models
@using InsurgenceServerWebsite.PokemonHelper
@model RecentTradesModel

@{
	Layout = "/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "Tradelog";
}
<link rel="stylesheet" href="/CSS/Tradelog.css" />
<div style="padding-top:30px;">
	<table>
		@foreach (var trade in Model.Trades)
		{
			<tr>
				<th>
					@Html.ActionLink(trade.User1, "Users", "Admin", new { id = trade.User1 }, null)
				</th>
				<td>
					<table style="width:100%;     height: 50px;">
						<tr>
							<td style="width:32%; max-width:32%;">@PokemonHelper.GetPokemonName(trade.Pokemon1.Species)</td>
							@if (trade.Pokemon1.Shiny)
							{
								<td class="shiny" style="max-width:10%; width:10%">Shiny</td>
							}
							else
							{
								<td class="nonshiny" style="max-width:10%; width:10%">Bland</td>
							}
							<td style="width:20%; max-width:20%">OT: @trade.Pokemon1.OT</td>
							<td style="width:38%; max-width:38%">Item: @ItemHelper.GetItemName(@trade.Pokemon1.Item)</td>
						</tr>
					</table>
				</td>
				<td>
					<table style="width:100%;     height: 50px;">
						<tr>
							<td style="width:32%; max-width:32%;">@PokemonHelper.GetPokemonName(trade.Pokemon2.Species)</td>
							@if (trade.Pokemon2.Shiny)
							{
								<td class="shiny" style="max-width:10%; width:10%">Shiny</td>
							}
							else
							{
								<td class="nonshiny" style="max-width:10%; width:10%">Bland</td>
							}
							<td style="width:20%; max-width:20%">OT: @trade.Pokemon2.OT</td>
							<td style="width:38%; max-width:38%">Item: @ItemHelper.GetItemName(@trade.Pokemon2.Item)</td>
						</tr>
					</table>
				</td>
				<th>
					@Html.ActionLink(trade.User2, "Users", "Admin", new { id = trade.User2 }, null)
				</th>
			</tr>
		}
	</table>
	@if (Model.StartIndex >= 100)
	{
		<input type="button" title="BanAccount" value="Previous" onclick="location.href='@Url.Action("RecentTrades", "Admin", new { id = Model.StartIndex - 100 })'" />
	}
	<input type="button" title="BanAccount" value="Next" onclick="location.href='@Url.Action("RecentTrades", "Admin", new { id = Model.StartIndex + 100 })'" />
</div>

