@using AdminSite.Models
@using AdminSite.Pokemon
@model AdminSite.Models.DirectGiftDetailModel

@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Direct Gift";
}
@{
    PokemonDirectGift pokemonModel = Model.gift as PokemonDirectGift;
    ItemDirectGift itemModel = Model.gift as ItemDirectGift;
}

<table class="table border" style="display: inline-table;">
    <tr>
        <th>
            Gift Type
        </th>
        <td>
            @Html.DropDownList("Type", new SelectList(Enum.GetNames(typeof(DirectGiftType))),  new
            {
                id="TypeID"
            })
        </td>
    </tr>


</table>

<form asp-controller="DirectGift" asp-action="AddPokemonGift" method="post" id="pokemonForm" >
    <table class="table border" id="pokemonTable">
        <tr>
            <th colspan="4">Pokemon</th>
        </tr>
        <tr>
            <th>ID </th>
            <td><input type="number" readonly="readonly" asp-for="@Model.giftIndex" name="giftIndex"></input></td>
            <th>User </th>
            <td><input type="text" readonly="readonly" asp-for="@Model.username" name="username"></input></td>
        </tr>
        <tr>
            <th>Species</th>
            <td><select readonly asp-for="@pokemonModel.Pokemon.species" asp-items="@Html.GetEnumSelectList(typeof(PokemonList))"></select></td>
            <th>Name</th>
            <td><textarea asp-for="@pokemonModel.Pokemon.name"></textarea></td>
        </tr>
        <tr>
            <th>Nature</th>
            <td><select readonly asp-for="@pokemonModel.Pokemon.nature" asp-items="@Html.GetEnumSelectList(typeof(Nature))"></select></td>
            <th>Shiny</th>
            <td><input type="checkbox" asp-for="@pokemonModel.Pokemon.isShiny"/></td>
        </tr>
        <tr>
            <th>Ability</th>
            <td colspan="3">
                <input type="number" asp-for="@pokemonModel.Pokemon.ability" min="0" max="2" required=""/>
                0/1 = first/second ability, 2 is hidden. Don't give a second ability if there is none. I check >:(
            </td>
        </tr>
        <tr>
            <th>Level</th>
            <td><input type="number" asp-for="@pokemonModel.Pokemon.level" min="1" max="120"/></td>
            <th>Gender</th>
            <td><select readonly asp-for="@pokemonModel.Pokemon.gender" asp-items="@Html.GetEnumSelectList(typeof(PokemonGender))"></select></td>
        </tr>
        <tr>
            <th>Happiness</th>
            <td><input type="number" asp-for="@pokemonModel.Pokemon.happiness" min="0" max="255" /></td>
            <th>Held Item</th>
            <td><select readonly asp-for="@pokemonModel.Pokemon.item" asp-items="@Html.GetEnumSelectList(typeof(ItemList))"></select></td>
        </tr>
        <tr>
            <th>IVs</th>
            <td>
                <table class="table-condensed">
                    <tr>
                        <th>HP</th>
                        <td><input type="number" asp-for="@pokemonModel.Pokemon.iv[0]" min="0" max="31" required=""/></td>
                    </tr>
                    <tr>
                        <th>Attack</th>
                        <td><input type="number" asp-for="@pokemonModel.Pokemon.iv[1]" min="0" max="31" /></td>
                    </tr>
                    <tr>
                        <th>Defense</th>
                        <td><input type="number" asp-for="@pokemonModel.Pokemon.iv[2]" min="0" max="31" /></td>
                    </tr>
                    <tr>
                        <th>Sp. Att.</th>
                        <td><input type="number" asp-for="@pokemonModel.Pokemon.iv[4]" min="0" max="31" /></td>
                    </tr>
                    <tr>
                        <th>Sp. Def.</th>
                        <td><input type="number" asp-for="@pokemonModel.Pokemon.iv[5]" min="0" max="31" /></td>
                    </tr>
                    <tr>
                        <th>Speed</th>
                        <td><input type="number" asp-for="@pokemonModel.Pokemon.iv[3]" min="0" max="31" /></td>
                    </tr>
                </table>
            </td>
            <th>EVs</th>
            <td>
                <table class="table-condensed">
                    <tr>
                        <th>HP</th>
                        <td><input type="number" asp-for="@pokemonModel.Pokemon.ev[0]" min="0" max="255" /></td>
                    </tr>
                    <tr>
                        <th>Attack</th>
                        <td><input type="number" asp-for="@pokemonModel.Pokemon.ev[1]" min="0" max="255" /></td>
                    </tr>
                    <tr>
                        <th>Defense</th>
                        <td><input type="number" asp-for="@pokemonModel.Pokemon.ev[2]" min="0" max="255" /></td>
                    </tr>
                    <tr>
                        <th>Sp. Att.</th>
                        <td><input type="number" asp-for="@pokemonModel.Pokemon.ev[4]" min="0" max="255" /></td>
                    </tr>
                    <tr>
                        <th>Sp. Def.</th>
                        <td><input type="number" asp-for="@pokemonModel.Pokemon.ev[5]" min="0" max="255" /></td>
                    </tr>
                    <tr>
                        <th>Speed</th>
                        <td><input type="number" asp-for="@pokemonModel.Pokemon.ev[3]" min="0" max="255" /></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <th>Moves</th>
            <td colspan="3">
                <table class="table" id ="movesTable">
                    <tr>
                        <th>Move</th>
                        <th>PP</th>
                        <th>PP Up</th>
                    </tr>
                    <tr>
                        <td>
                            <select readonly asp-for="@pokemonModel.Pokemon.moves[0].id" asp-items="@Html.GetEnumSelectList(typeof(MoveHelper.MovesList))"></select>
                        </td>
                        <td>
                            <input type="number" asp-for="@pokemonModel.Pokemon.moves[0].pp" min="0" max="50" />
                        </td>
                        <td>
                            <input type="number" asp-for="@pokemonModel.Pokemon.moves[0].ppup" min="0" max="3" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <select readonly asp-for="@pokemonModel.Pokemon.moves[1].id" asp-items="@Html.GetEnumSelectList(typeof(MoveHelper.MovesList))"></select>
                        </td>
                        <td>
                            <input type="number" asp-for="@pokemonModel.Pokemon.moves[1].pp" min="0" max="50" />
                        </td>
                        <td>
                            <input type="number" asp-for="@pokemonModel.Pokemon.moves[1].ppup" min="0" max="3" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <select readonly asp-for="@pokemonModel.Pokemon.moves[2].id" asp-items="@Html.GetEnumSelectList(typeof(MoveHelper.MovesList))"></select>
                        </td>
                        <td>
                            <input type="number" asp-for="@pokemonModel.Pokemon.moves[2].pp" min="0" max="50" />
                        </td>
                        <td>
                            <input type="number" asp-for="@pokemonModel.Pokemon.moves[2].ppup" min="0" max="3" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <select readonly asp-for="@pokemonModel.Pokemon.moves[3].id" asp-items="@Html.GetEnumSelectList(typeof(MoveHelper.MovesList))"></select>
                        </td>
                        <td>
                            <input type="number" asp-for="@pokemonModel.Pokemon.moves[3].pp" min="0" max="50" />
                        </td>
                        <td>
                            <input type="number" asp-for="@pokemonModel.Pokemon.moves[3].ppup" min="0" max="3" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <th>OT</th>
            <td><textarea asp-for="@pokemonModel.Pokemon.ot"></textarea></td>
            <th>OT Gender</th>
            <td><select readonly asp-for="@pokemonModel.Pokemon.otgender" asp-items="@Html.GetEnumSelectList(typeof(PokemonGender))"></select></td>
        </tr>
        <tr>
            <th colspan="4">
                <input type="submit" value="Save" />
            </th>
        </tr>
    </table>
</form>

<form asp-controller="DirectGift" asp-action="AddItemGift" method="post" id="itemForm">
    <table class="table border" id="itemTable">
        <tr>
            <th colspan="4">Item</th>
        </tr>
        <tr>
            <th>ID </th>
            <td><input type="number" readonly="readonly" asp-for="@Model.giftIndex" name="giftIndex"></input></td>
            <th>User </th>
            <td><input type="text" readonly="readonly" asp-for="@Model.username" name="username"></input></td>
        </tr>
        <tr>
            <th>Item</th>
            <td>
                <select readonly asp-for="@itemModel.Item" asp-items="@Html.GetEnumSelectList(typeof(ItemList))"></select>
            </td>
            <th>Amount</th>
            <td>
                <input type="number" asp-for="@itemModel.Amount" min="1" max="99" required="true" value="1"/>
            </td>
        </tr>
        <tr>
            <th colspan="4">
                <input type="submit" value="Save"/>
            </th>
        </tr>
    </table>

</form>


<script>
    var currentType;
    function ShowRelevant() {
        if (currentType == null) {
            currentType = "@Html.Raw(Model.gift.Type)";
            $('#TypeID').value = currentType;
        }
        var type = currentType;

        if (type == "Item") {
            ShowItem();
            HidePokemon();
        }
        else if (type == "Pokemon") {
            HideItem();
            ShowPokemon();
        } else {
            HideItem();
            HidePokemon();
        }
    }

    function ShowItem() {
        $('#itemForm').css("display", "flex");
    }

    function HideItem() {
        $('#itemForm').css("display", "none");
    }

    function ShowPokemon() {
        $('#pokemonForm').css("display", "flex");
    }

    function HidePokemon() {
        $('#pokemonForm').css("display", "none");
    }

    $(function() {


    });

    window.onload = function () {
        ShowRelevant();
        $("#TypeID").change(function () {
            var selected = $(this).val().toString();
            currentType = selected;
            ShowRelevant();
        });

        numInputs = document.querySelectorAll('input[type=number]');
        numInputs.forEach(function(input) {
            input.addEventListener('change',
                function(e) {
                    if (e.target.value == '') {
                        e.target.value = 0;
                    }
                });
            if (input.value == '') {
                input.value = input.min;
            }
        });
    }


</script>