@using AdminSiteNew.Models
@using AdminSiteNew.PokemonHelper
@model UserModel


@if (Model.UserRequest != null)
{
    <link rel="stylesheet" href="/CSS/UserInfo.css" />
    <style>
        th, td {
            padding: 8px !important;
        }
    </style>
    <div>
        <table id="UserInfoTable" class="dataTable border bordered">
            <tr>
                <th colspan="2">
                    Name
                </th>
                <td colspan="2">
                    @Html.DisplayFor(model => model.UserRequest.UserInfo.Username)
                </td>
            </tr>
            <tr>
                <th colspan="2">
                    ID
                </th>
                <td colspan="2">
                    @Html.DisplayFor(model => model.UserRequest.UserInfo.User_Id)
                </td>
            </tr>
            <tr>
                <th colspan="2">
                    Banned
                </th>
                @if (Model.UserRequest.UserInfo.Banned)
                {
                    <td class="Banned" colspan="2">true</td>
                }
                else
                {
                    <td class="Free" colspan="2">false</td>
                }
            </tr>
            <tr>
                <th colspan="2">
                    Last Logged In
                </th>
                <td>
                    @Html.DisplayFor(model => model.UserRequest.UserInfo.LastLoggedIn)
                </td>
            </tr>


            <tr>
                <th>Friend Safari</th>
                <td>
                    @Html.DisplayFor(model => model.UserRequest.FriendSafari.Type)
                </td>
                <td colspan="2">
                    @Html.DisplayFor(model => model.UserRequest.FriendSafari.GetCleanPokemon)
                </td>
            </tr>
        </table>
        <table id="UserTradeLog" class="dataTable border bordered" style="display: none">
            <tr>
                <th colspan="4">
                    Tradelog
                </th>
            </tr>
            @foreach (var trade in Model.UserRequest.Trades)
            {
                <tr>
                    <th>@trade.User1</th>
                    <td>
                        <table style="width: 100%; height: 50px;">
                            <tr>
                                <td style="width: 32%; max-width: 32%;">@PokemonHelper.GetPokemonName(trade.Pokemon1.species)</td>
                                <td>@trade.Pokemon1.personalID</td>
                                @*
                                    @if (trade.Pokemon1.Shiny)
                                    {
                                        <td class="shiny" style="max-width:10%; width:10%">Shiny</td>
                                    }
                                    else
                                    {
                                        <td class="nonshiny" style="max-width:10%; width:10%">Bland</td>
                                    }
                                *@
                                <td style="width: 20%; max-width: 20%">OT: @trade.Pokemon1.ot</td>
                                <td style="width: 38%; max-width: 38%">Item: @ItemHelper.GetItemName((short)@trade.Pokemon1.item)</td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table style="width: 100%; height: 50px;">
                            <tr>
                                <td style="width: 32%; max-width: 32%;">@PokemonHelper.GetPokemonName(trade.Pokemon2.species)</td>
                                <td>@trade.Pokemon2.personalID</td>
                                @*
                                    @if (trade.Pokemon2.Shiny)
                                    {
                                        <td class="shiny" style="max-width:10%; width:10%">Shiny</td>
                                    }
                                    else
                                    {
                                        <td class="nonshiny" style="max-width:10%; width:10%">Bland</td>
                                    }
                                *@
                                <td style="width: 20%; max-width: 20%">OT: @trade.Pokemon2.ot</td>
                                <td style="width: 38%; max-width: 38%">Item: @ItemHelper.GetItemName((short)@trade.Pokemon2.item)</td>
                            </tr>
                        </table>
                    </td>
                    <th>
                        @Html.ActionLink(trade.User2, "Users", "Admin", new { id = trade.User2 }, null)
                    </th>
                </tr>
            }
        </table>
        <table id="UserIPs" class="dataTable border bordered" style="display: none">
            <tr>
                <th colspan="4">
                    Used IPs
                </th>
            </tr>
            <tr>
                <th colspan="2">IP</th>
                <th>Banned</th>
                <th></th>
            </tr>
            @foreach (var ip in Model.UserRequest.IPs)
            {
                <tr>
                    <td colspan="2">
                        @ip.IP
                    </td>
                    @if (ip.Banned)
                    {
                        <td class="Banned">true</td>
                        <td>
                            <input type="button" title="BanAccount" value="Unban" onclick="location.href = '@Url.Action("UnbanSingleIp", "Admin", new {id = @ip.IP, name = Model.UserRequest.UserInfo.Username})'" />
                        </td>
                    }
                    else
                    {
                        <td class="Free">false</td>
                        <td>
                            <input type="button" title="BanAccount" value="Ban" onclick="location.href = '@Url.Action("BanSingleIp", "Admin", new {id = @ip.IP, name = Model.UserRequest.UserInfo.Username})'" />
                        </td>
                    }
                </tr>
            }
        </table>

        <table id="UserAlts" class="dataTable border bordered" style="display: none">
            <tr><th colspan="4">Other Accounts on IP</th></tr>
            <tr><th>ID</th><th>Username</th><th>Banned</th></tr>
            @foreach (var alt in Model.UserRequest.Alts)
                {
                <tr>
                    <td>
                        @alt.User_Id
                    </td>
                    <td>
                        @Html.ActionLink(alt.Username, "Users", "Admin", new { id = alt.Username }, null)
                    </td>
                    @if (alt.Banned)
                    {
                        <td class="Banned">true</td>
                        <td>
                            <input type="button" title="BanAccount" value="Unban" onclick="location.href = '@Url.Action("UnbanAccount", "Admin", new {id = alt.Username, redir = Model.UserRequest.UserInfo.Username})'" />
                        </td>
                    }
                    else
                    {
                        <td class="Free">false</td>
                        <td>
                            <input type="button" title="BanAccount" value="Ban" onclick="location.href = '@Url.Action("BanAccount", "Admin", new {id = alt.Username, redir = Model.UserRequest.UserInfo.Username})'" />
                        </td>

                    }
                </tr>
            }
        </table>
        @if (Model.UserRequest.UserInfo.Banned)
        {
            <button title="BanAccount" class="button success" style="width: 232px;"
                     onclick="location.href = '@Url.Action("UnbanAccount", "Admin", new {id = Model.UserRequest.UserInfo.Username})'">Unban Account</button>

        }

        else
        {
            <button title="BanAccount" class="button warning" style="width: 232px;"
                    onclick="location.href = '@Url.Action("BanAccount", "Admin", new {id = Model.UserRequest.UserInfo.Username})'"><span class="mif-hammer icon"></span>   Ban Account</button>
        }
        <br/>
        <button class="button danger" title="BanAccount" style="width: 103px;"
                onclick="location.href = '@Url.Action("BanIPs", "Admin", new { id = Model.UserRequest.UserInfo.User_Id })'">Ban IPs</button>
        <input type="button" class="button success" title="BanAccount" value="Unban IPs " style="width: 123px;"
               onclick="location.href = '@Url.Action("UnbanIPs", "Admin", new {id = Model.UserRequest.UserInfo.User_Id})'" />
        <br />
        <input type="button" class="button danger" title="BanAccount" value="Ban Alts" onclick="location.href = '@Url.Action("BanAlts", "Admin", new {id = Model.UserRequest.UserInfo.User_Id})'" />
        <input type="button" class="button success" title="BanAccount" value="Unban Alts" onclick="location.href = '@Url.Action("UnbanAlts", "Admin", new {id = Model.UserRequest.UserInfo.User_Id})'" />

    </div>
}